.liButton:hover{
	-fx-cursor:hand;
	-fx-border-color:#2E8B57;
	-fx-background-radius:10.0;
	-fx-border-radius:10.0;
	-fx-effect:dropshadow(three-pass-box, #52E252, 3.0,0.5,2.0,2.0);
}

Button:hover{
	-fx-cursor:hand;
	-fx-border-color:#2E8B57;
	-fx-background-radius:10.0;
	-fx-border-radius:10.0;
	-fx-effect:dropshadow(three-pass-box, #52E252, 3.0,0.5,2.0,2.0);
}